.label {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  row-gap: 5px;
}

.label > span {
  margin-left: 5px;
}

.input {
  height: 58px;
  font-weight: 400;
  border: 1px solid var(--gray);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
}

.input::placeholder {
  color: var(--gray);
}
