.root {
  padding: 2px;
  display: flex;
  column-gap: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--black-secondary);
  cursor: pointer;
  background: none;
  border: none;
}
